
.row [class^=col-],  
.row .col {
    background: #b3aeae;
    border: 1px solid rgb(139, 126, 126);
}

.row{
    height: 300px;
    background: rgb(235, 89, 130);
}

.row [class^=col-]{
    height: 50px;
}
